@page
@using Schoolmate.Admissions.Areas.Identity.Pages.Account.Manage
@model Schoolmate.Admissions.Areas.Identity.Pages.Account.Manage.IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="profile-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Username" class="form-control" placeholder="Please choose your username." disabled />
                <label asp-for="Username" class="form-label"></label>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.GivenNames" class="form-control" placeholder="Given Names."/>
                <label asp-for="Input.GivenNames" class="form-label"></label>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.MiddleName" class="form-control" placeholder="Middle Name."/>
                <label asp-for="Input.MiddleName" class="form-label"></label>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.FamilyName" class="form-control" placeholder="Family Name."/>
                <label asp-for="Input.FamilyName" class="form-label"></label>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Birthday" class="form-control"/>
                <label asp-for="Input.Birthday" class="form-label"></label>
                <span asp-validation-for="Input.Birthday" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
               @foreach (var gender in Model.Genders)
               {
                   <input class="form-check-input" type="radio" asp-for="Input.Gender" value="@gender" />@gender<br />
               } 
            </div>
            <button id="update-profile-button" type="submit" class="w-100 btn btn-lg btn-primary">Save</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
